<mat-card>
    <mat-card-title>
        <h2>Daily reports</h2>
    </mat-card-title>

    <mat-card-subtitle>
        <p>Table below represents real statistics of <em>COVID-2019</em> cases by countries.</p>
        <p>Data fetched from <a href="https://github.com/CSSEGISandData/COVID-19/" target="_blank">github.com</a>,
            and translated from csv to json.</p>
    </mat-card-subtitle>

    <mat-card-content>
        <bd-dynamic-form [metadata]="filtersQuestion" [form]="filtersFormGroup"></bd-dynamic-form>
        <mat-progress-bar *ngIf="isLoading" mode="indeterminate"></mat-progress-bar>
        <div class="table-container" *ngIf="data && data.length">
            <div class="table-fader" *ngIf="isLoading"></div>
            <bd-table [data]="data" [columns]="columns" [pagination]="paginationConfig"></bd-table>
        </div>
    </mat-card-content>
</mat-card>