@import "~@angular/material/prebuilt-themes/indigo-pink.css"

.table
  &-container
    position: relative

  &-fader
    position: absolute
    top: 0
    bottom: 0
    left: 0
    right: 0
    background: #777
    opacity: .4