<div class="page">
    <mat-toolbar color="primary">
        <mat-toolbar-row>
            <span>COVID-2019 Statistics • Anton Kuranov</span>
        </mat-toolbar-row>
    </mat-toolbar>
    <router-outlet></router-outlet>
</div>

